$text-color: black;
$bg-color: #f0f0f0;
$perspective: 100px;
$init-header-width: 1920;
$init-header-height: 1080;
$header-scale: calc( var(--client-width) / #{$init-header-width} );
$header-height: calc( #{$init-header-height}px * #{$header-scale} );

* {
  padding: 0;
  margin: 0;
}

:root{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $text-color;
  --client-width: $init-header-width;
  background-color: $bg-color;
}

#container{
  width: 100%;
}

// wrapper for whole page
#container > div{
  width: 100%;
  height: 100vh;

  overflow-y: scroll;
  overflow-x: hidden;

  perspective: $perspective;
  perspective-origin: 0 0;

  &> img {
    position: absolute;
    transform-origin: 0 0;
  }
  &> img:nth-of-type(1){
    z-index: -1;
    transform: translateZ(-$perspective * 0.2) scale( calc( (1 + 0.2) * #{$header-scale}) );
  }
  &> img:nth-of-type(2){
    z-index: -2;
    transform: translateZ(-$perspective * 0.5) scale( calc( (1 + 0.5) * #{$header-scale}) );
  }
  &> img:nth-of-type(3){
    z-index: -3;
    transform: translateZ(-$perspective * 1) scale( calc( (1 + 1) * #{$header-scale}) );
  }
  &> img:nth-of-type(4){
    z-index: -4;
    transform: translateZ(-$perspective * 1.5) scale( calc( (1 + 1.5) * #{$header-scale}) );
  }
  &> img:nth-of-type(5){
    z-index: -5;
    transform: translateZ(-$perspective * 2) scale( calc( (1 + 2) * #{$header-scale}) );
  }
  &> h1{
    perspective: none;
    position: fixed;
    top: 100px;
    left: 50px;
    display: inline-block;
    font-size: 10vw;
    z-index: -3;
  }
  // fog
  &::before{
    content: '';
    display: block;
    width: 100%;
    height: $header-height;
    position: absolute;
    top: $header-height;
    background: linear-gradient(rgba(240,240,240,0), $bg-color);
    transform-origin: 0 0;
    transform: translateZ(-$perspective * 0) scale( calc( (1 + 0) ) );
  }
}

h2{
  font-size: 3vw;
  font-weight: 800;
  margin-bottom: 1rem;;
}

p{
  line-height: 1.5rem;
}

.aboutMe{
  margin-left: 5%;
  margin-right: 5%;
  max-width: 500px;
  clear: both;
}

.art{
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  position: relative;
  &> img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.6);
    transition: transform 0.5s ease-out;
  }
  &:hover{
    cursor: pointer;
  }
  &:hover > img{
    transform: translate(-50%,-50%) scale(0.5);
  }
}

.fullImage{
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  max-width: 90%;
  box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.6);
}

.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3vw;
  row-gap: 3vw;
}

section{
  width: 100%;
  margin-top: 100px;
}

main{
  box-sizing: border-box;
  padding: 50px 0 100px 0;
  width: 90%;
  max-width: 720px;
  margin: 0 auto;
}

.mainWrapper{
  background-color: $bg-color;
  width: 100%;
  position: absolute;
  margin-top: $header-height;
  z-index: 0;

  &> img{
    box-shadow: inset 0 0 100px $bg-color;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}

.tools{
  &> h2{
    text-align: center;
  }
  &> div{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: row;
    &> div{
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      & h4{
        margin-top: 3%;
      }
      & img{
        max-width: 6rem;
      }
    }
  }
}
